<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Force HTTPS -->
    <rewrite>
      <rules>
        <rule name="Redirect to https">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <!-- Enable Node.js -->
    <webSocket enabled="true" />
    <handlers>
      <add name="iisnode" path="startup-api.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode watchedFiles="web.config;*.js" />
  </system.webServer>
</configuration>
